.popup__submit{
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  transition: ease .5s;
  border: none;
}

.popup__submit:hover{
  opacity: .8;
}

@media (max-width: 776px){
  .popup__submit{
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
